.calculator {
  width: 300px;
  margin: 80px auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f28a8a;
}

.calculator.dark {
  width: 300px;
  margin: 80px auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.calculator.blue {
  width: 300px;
  margin: 80px auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #9a84f3;
}

.display {
  font-size: 24px;
  text-align: right;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.display1 {
  font-size: 14px;
  text-align: right;
  padding: 10px;
  background-color: #f7e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button {
  background-color: #f00;
  color: #850d0d;
  grid-column: span 2;
}

.operator-button {
  background-color: #f4c0c0;;
  color: #333;
}

.zero-button {
  grid-column: span 2;
}

.equals-button {
  background-color: #008000;
  color: #fff;
}

.theme-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  margin: 0 auto; 
}
